.stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gap1 {
  gap: var(--space-1);
}

.gap2 {
  gap: var(--space-2);
}

.gap3 {
  gap: var(--space-3);
}

.gap6 {
  gap: var(--space-6);
}
