.container {
  padding: var(--space-3);
  background: var(--color-bg-column);
  border-radius: var(--radius-3);
}

.title {
  padding: var(--space-1) var(--space-3);
  background: var(--color-bg-column-title);
  border-radius: var(--radius-pill);
}
